asgiref
Django~=4.2.4
Pillow
Paginator
sqlparse
social-auth-app-django
django-extensions
werkzeug
pyOpenSSL
requests==2.31.0
easy-thumbnails
django-taggit==4.0.0
psycopg2==2.9.6
markdown==3.4.4
contact
django-extensions
social-auth-core
social-auth-app-django
psycopg2
psycopg2-binary
django-debug-toolbar==4.1.0
redis~=4.6.0
Pillow==10.0.0