asgiref
Django~=4.2.4
Pillow
Paginator
sqlparse
social-auth-app-django
django-extensions
werkzeug
pyOpenSSL
requests
easy-thumbnails
django-taggit
psycopg2
psycopg2-binary
markdown==3.4.4
contact
django-extensions
social-auth-core
social-auth-app-django
psycopg2
psycopg2-binary
django-debug-toolbar
redis
Pillow
celery
numpy
pandas
scikit-learn
flower
sqlparse
stripe
WeasyPrint