asgiref
Django~=4.2.4
Pillow~=10.0.0
Paginator
sqlparse
social-auth-app-django
django-extensions
werkzeug
pyOpenSSL
requests~=2.31.0
easy-thumbnails
django-taggit
psycopg2
psycopg2-binary
markdown==3.4.4
contact
django-extensions
social-auth-core
social-auth-app-django
psycopg2
psycopg2-binary
django-debug-toolbar
redis~=5.0.0
Pillow
celery~=5.3.1
numpy
pandas
scikit-learn
flower
sqlparse
stripe~=6.0.0
WeasyPrint~=59.0
google-auth
gobject
django-rosetta==0.9.9
django-parler==2.3
django-localflavor==4.0
django-parler==2.3
pip~=23.2.1
wheel~=0.41.1
cryptography~=41.0.3
tornado~=6.3.3
Jinja2~=3.1.2
setuptools~=68.1.2