{% extends "shop/base.html" %}
{% load static %}
{% block title %}주문 결제{% endblock title %}
{% block content %}
<h1>주문 결제</h1>
<table class="cart">
    <thead>
    <tr>
        <th>이미지</th>
        <th>상품</th>
        <th>가격</th>
        <th>수량</th>
        <th>총가격</th>
    </tr>
    </thead>
    <tbody>
        {% for item in order.items.all %}
            <tr class="row{% cycle '1' '2' %}">
                <td>
                    <img src="{% if item.product.image %}{{ item.product.image.url}}{%else%}{% static 'img/no_image.png' %}{% endif %}" alt="">
                </td>
                <td>{{ item.product.name }}</td>
                <td class="num">${{ item.price }}</td>
                <td class="num">{{ item.quantity }}</td>
                <td class="num">${{item.get_cost }}</td>
            </tr>
        {% endfor %}
        <!-- 47페이지 혼동 페이지 -->
        {% if order.coupon %}
            <tr class="subtotal">
                <td>Subtotal</td>
                <td colspan="3"></td>
                <td class="num">
                    ${{ order.get_total_cost_before_discount|floatformat:2 }}
                </td>
            </tr>
            <tr>
                <td>
                    "{{ order.coupon.code }}"coupon
                    ({{ order.discount}}% off)
                </td>
                <td colspan="3"></td>
                <td class="num neg">
                    - ${{ order.get_discount|floatformat:2 }}
                </td>
            </tr>
        {% endif %}
        <tr class="total">
            <td colspan="4">합계</td>
            <td class="num">${{ order.get_total_cost|floatformat:2 }}</td>
        </tr>
        <tr>
            <form action="{% url 'payment:process' %}" method="POST">
                <input type="submit" value="지금 결제하기">
                {% csrf_token %}
            </form>
        </tr>
    </tbody>
</table>
{% endblock content %}